@font-face {
    font-family: 'Simply Rounded';
    src: url('./fonts/Simply\ Rounded.ttf');
}

* {
    margin : 0;
    padding: 0;
    font-family: 'Simply Rounded';
}


#title {
    font-size: 30px;
    float: left;
}

.hah, .nah {
    transition: 0.2s;
    border-radius: 7px;
}

.hah:hover, .nah:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.voted {
    cursor: pointer;
    background-color: black;
    color: white;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 18px;
    border-bottom: 1px solid black;
    background-color: rgb(253, 187, 0);
    font-family: 'Simply Rounded';
    box-shadow: 0px 0px 2px black;
}


.nav a {
    display: block;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.2s;
    height: 30px;
    color: black;
}

.nav a:hover{
    color: white;
    cursor: pointer;
    background-color: black;
}

.main { 
    margin-top: 70px;
}

body {
    background-color: #ffb100;
}


.first{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.last {
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid black;
}

.master-card {
    box-shadow: -2px 0px 5px -0.5px rgba(0, 0, 0, 0.2), 2px 0px 5px -0.5px rgba(0, 0, 0, 0.2);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 20px;
    margin: auto;
    width: 700px;
    display: flex;
    flex-direction: row;
    font-family: 'Simply Rounded';
    background-color: rgb(253, 187, 0);
}

.joke {
    margin-left: 20px;
}

.joke-stats {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#nah {
    margin-top : 10px;
}

/* Styling for login/sign-up form */

.container {
    font-family: 'Simply Rounded' ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.login-button:hover, .sign-up-button {
    cursor: pointer;
}

.toggle-bar {
    width: 150px;
    margin: 0 auto;
}

.login {
    border: 1px solid rgb(59, 59, 59);
    border-radius: 7px;
    padding: 70px 50px;
    background-color: rgb(253, 187, 0);;
    box-shadow:  -3px 1px 5px black;
    width: 30%;
}

input[type=text], input[type=password] {
    font-family: 'Simply Rounded';
    border-radius: 10px;
    width: 100%;
    height: 30px;
    border: 2px solid gray;
    transition: 0.5s;
    outline: none;
    box-sizing: border-box;
}

input[type=submit]{
    width: 100%;
    border-radius: 10px;
    font-family: 'Simply Rounded';
    border: 2px solid gray;
    height: 30px;
    outline: none;
    font-size: 20px;
    margin-top: 20px;
    transition-duration: 0.5s;
}

input[type=submit]:hover {
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2px solid rgb(46, 45, 45);
}

/*Styling for joke creation form */

.joke-form-box {
    font-family: 'Simply Rounded';
    font-size: 24px;
    margin-top: 90px;
    width: 100%;
    background-color: #FDBB00;
    border: 1px solid black;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    box-shadow: 0px 0px 1px black;
}

.joke-form-header{
    font-size: 28px;
    margin-bottom: 10px;
}

#setup, #punchline {
    outline: 0;
    border-width: 0 0 2px;
    font-size: 17px;
    border-color: black;
    background-color: transparent;
    border-radius: 0px;
    width: 95%;
    display: block;
}

#setup {
    margin-bottom: 15px;
}

#post-joke {
    width: 30px;
    height: 30px;
    margin: 10px auto;
    display: block;
    border-radius: 40px;
}