@font-face {
    font-family: 'Simply Rounded';
    src: url('./fonts/Simply\ Rounded.ttf');
}

* {
    margin : 0;
    padding: 0;
}


.sign-out {
    float: right;
}

ul {
    font-family: 'Simply Rounded';
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    background-color: #ffb100;
}

.first{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.last {
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid black;
}

.master-card {
    box-shadow: -2px 0px 5px -0.5px rgba(0, 0, 0, 0.2), 2px 0px 5px -0.5px rgba(0, 0, 0, 0.2);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 20px;
    margin: auto;
    width: 700px;
    display: flex;
    flex-direction: row;
    font-family: 'Simply Rounded';
    background-color: rgb(253, 187, 0);
}

.joke {
    margin-left: 20px;
}

.joke-stats {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#nah {
    margin-top : 10px;
}

